[mcu cartographer]
canbus_uuid: 5a31ac9a9623

[cartographer]
mcu: cartographer            
x_offset: 0                          
y_offset: 24.75                       
verbose: no

[cartographer scan]
mesh_runs: 2


[bed_mesh]
zero_reference_position: 150, 150    
#    set this to the middle of your bed
speed: 300
#    movement speed of toolhead during bed mesh
horizontal_move_z: 3
#    height of scanner during bed mesh scan
mesh_min: 40, 25
#    start point of bed mesh [X, Y]
mesh_max: 260, 275
#    end point of bed mesh [X, Y]
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0

# algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
# spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.

[safe_z_home]
home_xy_position: 145, 150 
z_hop: 10